[Unit]
Description=lighthouse: An Ethereum Consensus Implementation Written in Go
Requires=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
Restart=on-failure
ExecStart=/usr/local/bin/lighthouse vc --network mainnet --datadir /data/lighthouse-vc --http --metrics --metrics-address 0.0.0.0

[Install]
WantedBy=default.target
