[Unit]
Description=lighthouse: An Ethereum Consensus Implementation Written in Go
Requires=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
Restart=on-failure
ExecStart=/usr/local/bin/lighthouse bn \
         --network mainnet \
         --http \
         --datadir /data/lighthouse \
         --execution-endpoint http://127.0.0.1:8551/ \
         --checkpoint-sync-url https://mainnet-checkpoint-sync.stakely.io \
         --execution-jwt /home/ubuntu/jwttoken/jwtsecret.hex \
         --metrics \
         --metrics-address 0.0.0.0 \
         --target-peers 100


[Install]
WantedBy=default.target
